body{
font-family: "Times New Roman";
text-align:center;
background:#f5f5f5;
}

.form-box{
margin:20px;
}

input{
display:block;
margin:8px auto;
padding:8px;
width:250px;
}

button{
padding:10px 15px;
margin:5px;
cursor:pointer;
background: #007BFF;
color: white;
}

.cover{
width:600px;
margin:40px auto;
background:white;
padding:40px;
border:1px solid #ccc;
}

.logo{
width:280px;
margin-bottom:10px;
}
